:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(159, 159, 187);
}

header .container {
  border: 1px solid black;
}
